<template>

    <table class="prices-table">
      <thead>
        <tr>
          <th>Coin</th>
          <th>Close <info tooltip="Buy/sell based on close vs average/moving high & lows"></info></th>
          <th>Change</th>
          <th>Highs <info tooltip="Buy if high > average/moving high"></info></th>
          <th>Lows <info tooltip="Sell if low > average/moving low"></info></th>
          <th>Volume</th>
          <th>RSI <info tooltip="Buy < 30 | Sell > 70"></info></th>
          <th class="right">Time</th>
        </tr>
      </thead>
      <tbody>
        <!--<prices-row v-if="data['ETH']" :data="data['ETH']" :options="options"></prices-row>-->
        <prices-row v-for="price in prices" :data="price" :options="options" :key="price.coin"></prices-row>
      </tbody>
    </table>

</template>
<script>
  import PricesRow from './PricesTable/PricesRow'

  export default {
    name: 'PricesTable',
    components: { PricesRow },
    props: {
      options: {
        type: Object,
        default: {}
      }
    },
    created () {
      this.bind()
    },
    computed: {
      prices () {
        return Object.keys(this.data).map(key => this.data[key]).sort((a, b) => {
          if (a.coin > b.coin) {
            return 1
          }
          return -1
        })
      },
      tableOptions () {
        const { interval, highPeriod, lowPeriod } = this.options
        return {
          highPeriod: highPeriod || 50,
          lowPeriod: lowPeriod || 20,
          interval: interval || '1d'
        }
      }
    },
    data () {
      return {
        data: {}
      }
    },
    methods: {
      bind () {
        this.$binance.bindTickers(data => {
          data.forEach(datum => {
            this.$set(this.data, datum.coin, datum)
          })
        })
      }
    }
  }
</script>
<style lang="scss">
  .prices-table {
    th,
    td {
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }
</style>