<template>
  <div>
    <h1>
      Prices
    </h1>
    <form>
      <fieldset>
        <div class="row">
          <div class="column">
            <label for="moving-high">High Period Range</label>
            <input type="number" id="moving-high" v-model="highPeriod">
          </div>
          <div class="column">
            <label for="moving-low">Low Period Range</label>
            <input type="number" id="moving-low" v-model="lowPeriod">
          </div>
          <div class="column">
            <label for="interval">Interval</label>
            <select id="interval" v-model="interval">
              <option value="hour">Hour</option>
              <option value="day">Day</option>
              <option value="week">Week</option>
            </select>
          </div>
        </div>
      </fieldset>
    </form>
    <prices-table :options="options"/>
  </div>
</template>
<script>
  import PricesTable from '../components/PricesTable'

  export default {
    name: 'IndexPage',
    components: { PricesTable },
    computed: {
      options () {
        return { ...this.$data }
      }
    },
    data () {
      return {
        highPeriod: 50,
        lowPeriod: 20,
        interval: 'day'
      }
    }
  }
</script>