<template>
  <a @click="gotoLink" class="a-link"><slot></slot></a>
</template>
<script>
  import { shell } from 'electron'

  export default {
    name: 'ALink',
    props: {
      href: String
    },
    methods: {
      gotoLink () {
        shell.openExternal(this.href)
      }
    }
  }
</script>
<style>
  .a-link {
    cursor: pointer;
  }
</style>