<template functional>
  <span class="tooltip-span" v-tooltip="props.tooltip">
    <slot></slot>
    <span v-if="!slots().defualt">&#9432</span>
  </span>
</template>
<style>
  .tooltip-span {
    cursor: help;
  }
</style>
