<template>
  <tr v-if="coinData">
    <td class="left"><a-link :href="binanceLink" target="_blank" v-tooltip="binanceLink">{{ coinData.coin }}</a-link></td>
    <td :class="{buy: coinData.close > movingHigh, sell: coinData.close < movingLow}">
      <span :class="{buy: coinData.close > averageHigh, sell: coinData.close < averageLow}">
      {{ coinData.close | numeral('fixed', 6) }}
      </span>
    </td>
    <td>{{ coinData.percentChange | numeral('fixed', 2) }}%</td>
    <td :class="{ buy: coinData.high > movingHigh }"
        v-tooltip="'Avg High: ' + averageHigh + ' | Mov High:' + movingHigh">
      <span :class="{ buy: coinData.high > averageHigh }">
        Buy
      </span>
    </td>
    <td :class="{ sell: coinData.low < movingLow }"
        v-tooltip="'Avg Low: ' + averageLow + ' | Mov Low:' + movingLow">
      <span :class="{ sell: coinData.low < averageLow }" v-tooltip="'Average Low'">
        Sell
      </span>
    </td>
    <td>{{ coinData.volume | numeral('fixed')}}</td>
    <td :class="rsiClass">{{ rsi }}</td>
    <td class="right">{{ coinData.timestamp | moment('LT') }}</td>
  </tr>
</template>
<script>
  export default {
    name: 'PricesRow',
    props: {
      data: {
        required: Object
      },
      options: {
        required: Object
      }
    },
    watch: {
      'options.interval': {
        immediate: true,
        handler () {
          this.fetchDailyPrices()
        }
      }
    },
    computed: {
      coin () {
        return this.data.coin
      },
      binanceLink () {
        return `https://www.binance.com/tradeDetail.html?symbol=${this.coin}_BTC`
      },
      rsiClass () {
        if (this.rsi >= 70) {
          return 'sell'
        } else if (this.rsi <= 30) {
          return 'buy'
        }
        return ''
      },
      rsi () {
        const rsis = this.$indicators.RSI.calculate({
          values: this.dailyPrices.map(({ close }) => close),
          period: 14
        })
        return rsis[rsis.length - 1]
      },
      coinData () {
        return !this.isQuoteInBtc ? this.tickerData : this.data
      },
      isQuoteInBtc () {
        return this.data.quote === 'BTC'
      }
    },
    created () {
      if (!this.isQuoteInBtc) {
        this.$binance.bindTickers(this.coin, data => {
          this.tickerData = data
        })
      }
    },
    methods: {
      async fetchDailyPrices () {
        try {
          this.dailyPrices = await this.$binance.fetchPrices(this.coin, this.options.interval)
          this.findMovingIndicators()
        } catch (error) {
          console.error(this.coin, 'error', this.coinData)
        }
      },
      findMovingIndicators () {
        if (this.dailyPrices.length === 0) {
          return
        }
        this.averageHigh = Number.MAX_SAFE_INTEGER
        this.averageLow = -1
        this.movingHigh = Number.MAX_SAFE_INTEGER
        this.movingLow = -1

        const { highPeriod, lowPeriod } = this.options
        let highestHigh = 0
        let lowestLow = Number.MAX_VALUE
        let highsSum = 0
        let lowsSum = 0
        let i = 0

        for (; i < this.dailyPrices.length; i++) {
          const { high, low } = this.dailyPrices[i]

          if (i >= highPeriod && i >= lowPeriod) {
            break
          }

          if (i < highPeriod) {
            highsSum += high

            if (high > highestHigh) {
              highestHigh = high
            }
          }
          if (i < lowPeriod) {
            lowsSum += low

            if (low < lowestLow) {
              lowestLow = low
            }
          }
        }

        const highsCount = i < highPeriod ? i : highPeriod
        const lowsCount = i < lowPeriod ? i : lowPeriod
        this.averageHigh = highsSum / highsCount
        this.averageLow = lowsSum / lowsCount
        this.movingHigh = highestHigh
        this.movingLow = lowestLow
      },
      getClass (type) {
        switch (type) {
          case 'high':
            return this.coinData.close >= this.averageHigh ? 'buy' : ''
          case 'low':
            return this.coinData.close <= this.averageLow ? 'sell' : ''
        }
      }
    },
    data () {
      return {
        dailyPrices: [],
        averageHigh: '-',
        averageLow: '-',
        movingHigh: '-',
        movingLow: '-',
        tickerData: null
      }
    }
  }
</script>
<style lang="scss">
  td.buy {
    background-color: lightgreen;

    span.buy {
      font-weight: bold
    }
  }
</style>