<template>
  <div id="app" class="container">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'Bittionaire'
  }
</script>
<style src="normalize.css/normalize.css"></style>
<style src="milligram/dist/milligram.css"></style>
<style src="@/assets/v-tooltip.scss" lang="scss"></style>
<style src="@/assets/main.scss" lang="scss"></style>